<!DOCTYPE html>
<html>
<head>
	<title>App</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	 <link rel="stylesheet" type="text/css" href="/fullcalendar/fullcalendar.css">
	 <script type="text/javascript" src = "/fullcalendar/fullcalendar.js"></script>
	 <script type="text/javascript" src="/font-awesome/font-awesome.css"></script>
	 <script type="text/javascript" src="/font-awesome/css/font-awesome.min.css"></script>
</head>
<body>
	<%= yield %>
</body>
</html>
